# Binaries for programs
ips-in-cidrs

# Ignore the text lists
*.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum
